.profile-card {
    background-color: #101010;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 0; 
  }
  
  .profile-card-title {
    color: #a4a4a4; 
    background-color: #000000;
    font-family: "Gill Sans";
    display: flex;
    justify-content: center;
    margin-top: -3%;
    font-size: 3.5rem; 
  }
  
  .list-group-item {
    background-color: #101010;
    color: #a4a4a4; 
  }
  
  #custom-card-profile {
    background-color: rgba(16, 16, 16, 0.7); 
    color: #a4a4a4;
  }