.profile-card {
  background-color: #797979;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  padding: 15px;
}

.profile-card-title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
}

.list-group-item {
  background-color: #101010;
  color: #a4a4a4; 
}