#custom-card-activity {
  background-color: #48c3fca9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #415061;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin: 5px auto;
  width: 70%;
}
