.subject-title {
  text-align: center;
  font-size: 60px;
  margin: 50px;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-color-1 {
  background-color: #ff9999;
}

.card-color-2 {
  background-color: #99ff99;
}

.card-color-3 {
  background-color: #9999ff; 
}

.subject-card {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subject-info {
  display: flex;
  justify-content: center;
  color: #000000;
}

.subject-name {
  font-size: 18px;
  font-weight: bold;
}

.no-subjects {
  text-align: center;
}
